services:
  web:
    container_name: traveldna-web
    build: .
    command: sh -c "python manage.py migrate  && python manage.py create_plans && python manage.py create_category_subcategory && python manage.py create_destinations && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"